<h1><div style="text-align:center"><front color="blue">
  Detector  de noticias falsas</front></div></h1>
  <hr>
  </br>
  <h2><div style="text-align:center">Escriba la Noticia </div></h2>
  </br>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <form method="POST" action="/prediccion">
        <div class="from-group">
          <label for="var_1>
            <p class="front-weight-bold">Ingrese la Noticia</p>
          </label>
          <input type="text" name="var_1">
        </div>

        
        <input class="btn btn-primary" type="submit" value="Detectar Noticia">
        </form>
      </div>
    </div>
  </div>

